body {
    text-align: center;
    margin: 0;
}

.top {
    /* height:40%;
    width: 100%;
   
    
    left: 0;
    right: 0;
   
    position:absolute;
    top: 0; */
    background-image: url(/Images/2083644.jpg);
    background-size:cover ;
    height:1000px ;
    padding-top: 25px ;
   
}


.center {

    /* height: 40%;
    width: 100%;
    
    
    left: 0;
    right: 0;
   
    position:absolute;
    top: 40%; */
  
    background-color: #eef0f2;
    
   
}

.bottom {
    /* height: 20%;
    width: 100%;
    
    
    left: 0;
    right: 0;
   
    position: fixed;
    bottom: 0; */
    background-color: #e5e5e5;
    margin-top: 0;
    padding: 30px;
    
}

.visit-colombo {
    font-size: 35pt;
    color: white;
    text-shadow: 0 0 5px black ;

    margin: 0px auto;
    padding: 5px 10px 5px 10px;
    border-radius: 3%;
    background-color: skyblue;
    width: fit-content;
    height:fit-content;
    
}

.description {
    font-size: 18pt;
    color: white;
    text-shadow: 0 0 5px black ;

    width: fit-content;
    margin: 10px auto;
    padding: 5px 10px 5px 10px;
    border-radius: 3%;
    background-color: darkblue;

}

.to-do {
    font-size: 20pt;
    color: darkblue;
    text-shadow: 0 0 1px darkblue;

    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 20px;
}

.section-2-flex {
    display: flex;
    justify-content: center;
   
}

.img-shape {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.h2-text {
   font-weight: 600;
   font-size: 16pt;
   color: lightseagreen;
   text-shadow: 0 0 1px black;
}

.to-do-description {
    font-size: 14pt;
}

.concert , .park , .workout {
    margin: 0px 50px;

}

#Guide {
    width: 250px;
    height: 200px;
    padding: 15px 0px 10px 50px;

}

.guide-tittle {
    margin-top: 0;
    padding: 35px 0 10px 0;
    color: darkred;
    text-shadow: 0 0 2px red;
   
}

.guide-description {
    font-size: 14pt;
    padding-left: 40px;
}

.guide-name {
    color: skyblue;
    text-shadow: 1px 1px 1px black;
}

#card {
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    
    justify-content: space-around;
    background-color: #778da9;

    border-radius: 10px;
}
